html {
  background: #F9FDFF;
  color: #010C0F;
  overflow: hidden;
}



.container-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  align-items: center;
}

.map {
  height: 81vh;
  width: 67vw;
  border-radius: 5px;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.left-container {
  width: 30%;
  height: 950px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  overflow-y: auto;
  padding-left: 20px;
  padding-top: 10px;
}

.scrollable-div::-webkit-scrollbar {
  width: 0px;
  /* Réduire la largeur de la barre de défilement à zéro */
}

.header {
  width: 67vw;
  height: 15vh;
  /*border: solid;*/
}

.restaurant {
  padding: 10px;
  height: 150px;
  width: 88%;
  /*background: #7D7CF8;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
  color: #F9FDFF;
  border-radius: 1rem;
  background-color: #7D7CF8;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.restaurant img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
  border-radius: 5px;
}

.restaurant div {
  display: flex;
  /*border: solid;*/
  align-items: center;
}


.name {
  max-width: 150px;
  width: fit-content;
  font-family: "Baloo Da 2", serif;
}
.address{
  font-family: "Baloo Da 2", serif;
  font-style: italic;
}
.rating{
  font-family: "Baloo Da 2", serif;
  font-weight: lighter;
}

.topContainer {
  display: flex;
  justify-content: space-between;
}

.carousel {
  width: 75%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  overflow-x: auto;
}

.carousel-item {
  margin: auto;
  width: 150px;
  box-sizing: border-box;
  text-align: center;
  border: none;
}

.validate {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}

.arrive {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 10px;
}

.arrive>input {
  border: none;
  color: #D3E3FD;
  background: #F9FDFF;
  border-bottom: solid 1px #380897;
}

.container-filtre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
}

.validate>button {
  height: 30px;
  max-width: 120px;
  background: #7641F5;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #F9FDFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
