html {
  background: #F9FDFF;
  color: #010C0F;
  overflow: hidden;
}

.container-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  align-items: center;
}

.map {
  height: 81vh;
  width: 67vw;
  border-radius: 5px;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.left-container {
  width: 30%;
  height: 950px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  overflow-y: auto;
  padding-left: 20px;
  padding-top: 10px;
  background-color: #F5F5F5;
  border-radius: 5px;
}

.message-rien {
  margin: auto;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  color: #7B7B7B;
}

.scrollable-div::-webkit-scrollbar {
  width: 0px;
  /* Réduire la largeur de la barre de défilement à zéro */
}

.header {
  width: 67vw;
  height: 15vh;
  /*border: solid;*/
}

.addImage {
  width: 30px;
}

.restaurant {
  padding: 10px;
  height: 150px;
  width: 88%;
  /*background: #7D7CF8;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
  color: #F9FDFF;
  border-radius: 1rem;
  background: #7641F5;
  /*background-color: #7D7CF8;*/
  box-shadow: #5E5DF0 0 10px 20px -10px;
  /*box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;*/
}

.restaurant img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
  border-radius: 5px;
}

.restaurant div {
  display: flex;
  /*border: solid;*/
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}


.name {
  max-width: 160px;
  width: fit-content;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  /*font-family: "Baloo Da 2", serif;*/
}

.address {
  /*font-family: "Baloo Da 2", serif;*/
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-style: italic;
  font-size: 14px;
}

.rating {
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-weight: lighter;
}

.topContainer {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  border-bottom: solid 1px white;
}

.carousel {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  overflow-x: auto;
}

.carousel-item {
  margin: auto;
  width: 150px;
  box-sizing: border-box;
  text-align: center;
  border: none;
}

.carousel-item {
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 12px;
}

.validate {
  width: 15%;
  /*display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;*/
}

.validate-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  margin-left: 75%;
}

.arrive {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 10px;
}

.arrive>input {
  border: none;
  color: black;
  background: #F9FDFF;
  border-bottom: solid 1px #380897;
}

.container-filtre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
}

.validate>button,
.validate-modal>button {
  height: 30px;
  max-width: 120px;
  background: #7641F5;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #F9FDFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.search {
  height: 30px;
  max-width: 120px;
  background: #7641F5;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #F9FDFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.roadtrip-overview {
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: #307EF1;
  border-radius: 999px;
  /*box-shadow: #5E5DF0 0 10px 20px -10px;*/
  color: #F9FDFF;
  position: sticky;
  bottom: 30px;
  left: 20px;
}



h2 {
  font-size: 14px;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
}

p {
  font-size: 10px;
}

.centerLine {
  width: 4px;
  border-radius: 999px;
  background-color: #7641F5;
}

.container {
  margin-top: 8px;
  margin-left: 18%;
  max-height: 700px;
  width: 600px;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;

}

.first-container>div,
.second-container>div {
  position: relative;
  padding: 5px;
  border-radius: 5px;
  color: #F9FDFF;
  background-color: #7641F5;
}

.first-container {
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.second-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.first-container>div::before {
  content: '';
  position: absolute;
  right: -16.55px;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: #7641F5;
  border-radius: 50%;
}

.second-container>div::before {
  content: '';
  position: absolute;
  left: -16.55px;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: #7641F5;
  border-radius: 50%;
}

.city {
  margin-left: 38%;
  width: 200px;
  text-align: center;
  justify-content: center;
  color: #F9FDFF;
  border-radius: 5px;
  padding: 5px;
  background-color: #7641F5;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;

  background-color: #7641F5;
  color: #F9FDFF;
  padding: 5px;
  border-bottom: 2px solid black;
}

h1 {
  padding: 5px;
}

.modal {
  display: none;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.rating {
  font-size: 12px;
}

.title_card {
  margin-bottom: 0;
}
